# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Copilot logs
copilot*.log

# Cursor logs
cursor*.log

# macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Linux temp files
*~

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Test & coverage
htmlcov/
.tox/
coverage.xml
.pytest_cache/
.cache/
*.cover
*.log

# Mypy / pylint / pytype
.mypy_cache/
.dmypy.json
.pyre/

# dotenv files
.env

# Kafka Connect downloaded connector jars
kafka/connect/plugins/mongodb/*.jar